@charset "UTF-8";

body {
    background-image: linear-gradient(white, #f4f4f4);
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 210;
    font-style: normal;
    margin: 0px;
}

h1 {
    font-size: 27px;
}

a {
    text-decoration: none;
    color: black;

}

.link {
    text-decoration: underline;
}


.navbaricon {
    width: 250px;
    position: relative;

}

/* Navbar styled by referring to W3Schools guide: https://www.w3schools.com/css/css_navbar_horizontal.asp */

.navicon {
    margin: 0px;
    background-color: white;
}

ul.topnav {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    background-color: white;

}

.verticalcenter {
    margin-top: 50px;
    margin-bottom: 20px;
}

ul.topnav li {
    float: left;
    margin-right: 120px;
}

ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
    font-size: 20px;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    font-weight: bold;
    font-stretch: normal;
}

.active {
    font-weight: bold;
}


@media screen and (max-width: 600px) {

    ul.topnav li.right,
    ul.topnav li {
        float: none;
        margin: 0px;
    }

    .row {
        flex-wrap: wrap;
    }

    .openingblurb {
        flex-direction: row;
        justify-content: center;
        flex-shrink: inherit;
        align-items: center;
        padding: 0;
    }

    .openingdot {
        max-width: 100%;
        height: auto;
    }

    .rectangle {
        flex-direction: column;
    }

    .sidebyside {
        grid-column: 1 / -1;
        grid-gap: 24px;
        display: grid;
        grid-template-columns: 10% 80%;
        justify-content: center;
    }

}

.rectangle {
    width: 100%;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: row;

}

footer {
    background: #9AC41F;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: white;
}

.footerstyle {
    color: white;
    text-align: center;
    margin: auto;
}

.fa {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.row1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.centertext {
    text-align: center;
}

.topcolumn {
    flex-direction: column;
    width: 20%;
    margin: auto;
    text-align: center;
}

.topimg {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.space {
    margin-top: 60px;
}

.visit {
    font-size: 22px;
    font-weight: bold;
}

.updated-txt {
    font-size: 18px;
}

.halftext {
    width: 50%;
    margin-left: 5%;
    margin-bottom: 20px;
}

.leftheader {
    text-align: left; 
    margin-left: 5%;
}

.rightimg {
    width: 40%;
    margin-left: 5%;
    height:fit-content;
    margin-top: -50px;
}

.sidebyside {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top:20px;
    margin-bottom: 20px;
}